<div class="work-cards container container-pad">
	<div class="row">
		<!-- {{ range first 2 (where .Data.Pages "Type" "post") }}
			{{ .Render "li"}}
		{{ end }} -->
		{{ range $i,$p := first 2 (where .Data.Pages "Type" "post") }}
		  {{if not (modBool $i 2)}} <!--even-->
			<div class="col-md-6">
				<div class="work-card">
					<a href="{{ .Permalink }}">
						<div class="work-card-image" style="background-image: url('{{.Params.image}}');"></div>
							<h3 class="work-card-text">{{ .Title }}</h3>
					</a>
				</div>
			</div>
		  {{else}} <!--odd-->
			<div class="col-md-6 work-card-odd">
				<div class="work-card">
					<a href="{{ .Permalink }}">
						<div class="work-card-image" style="background-image: url('{{.Params.image}}');"></div>
							<h3 class="work-card-text">{{ .Title }}</h3>
					</a>
				</div>
			</div>
			{{end}}
		{{end}}
		<div class="col" style="text-align:right; margin-top: 16px;">
				<a class="underline" href="/post">See more of my work <i class="far fa-hand-point-right"></i></a>
		</div>
	</div>
	<div>
	</div>
</div>
