<section class="work-cards container container-pad">
	<div class="row">
		<!-- {{ range first 2 (where .Data.Pages "Type" "work") }}
			{{ .Render "li"}}
		{{ end }} -->
		{{ range $i,$p := first 2 (where .Data.Pages "Type" "work") }}
		  {{if not (modBool $i 2)}} <!--even-->
			<div class="col-md-10 offset-md-1 col-lg-6 offset-lg-0">
				<div class="work-card">
					<a href="{{ .Permalink }}">
						<div class="work-card-image" style="background-image: url('{{.Params.image}}');"></div>
							<h3 class="work-card-text">{{ .Title }}</h3>
					</a>
				</div>
			</div>
		  {{else}} <!--odd-->
			<div class="col-md-10 offset-md-1 col-lg-6 offset-lg-0">
				<div class="work-card">
					<a href="{{ .Permalink }}">
						<div class="work-card-image" style="background-image: url('{{.Params.image}}');"></div>
							<h3 class="work-card-text">{{ .Title }}</h3>
					</a>
				</div>
			</div>
			{{end}}
		{{end}}
		<div class="col home-work-link">
				<a class="underline" href="/work">See more of my work <i class="far fa-hand-point-right"></i></a>
		</div>
	</div>
	<div>
	</div>
</section>
