<!-- <footer class="container">
	<p class="p-small">Jacob Hammond (C)</p>
	{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
	{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
	{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
	{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
</footer> -->



<footer class="container container-pad">
  <div class="row">
    <div class="col-7">
      <p class="body-small">Made with &#9829; by me &copy; 2019.</p>
    </div>
    <div class="col-5">
      <!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
      {{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
      {{ partial "social-icon" (dict "link" "https://www.instagram.com/jacobh_1992/" "svg" "icons-instagram") }}
      {{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
      {{ partial "svg" . }} -->
      <p class="footer-social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </p>
    </div>
</div>
</footer>

<script src="/app.js"></script>

</body>

</html>
