<section class="home-about-wrapper container container-pad">
  <div class="row">
    <div class="col-sm-10 col-lg-8 offset-lg-1">
      <h3 class="title-4 text-secondary">{{ .heading }}</h3>
      <p class="title-1">I believe in solving real life problems for real people.</p>
    </div>
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
      {{ .text | markdownify  }}
    </div>
  </div>
  <div class="blob blob-right">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

<section class="container container-pad">
  <div class="row">
    <div class="col-sm-10 col-lg-8 offset-lg-1">
      <p class="title-3">What others have to say about me</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <blockquote>
        <p>Working with Jacob has been gratifying and a pleasure. He has been highly dependable, eager to progress fast and proactive to join the dots across design, product and tech. He was instrumental in building design systems and integration processes, as well as for a series of UI technology reviews and decisions. Great to have Jacob on the team!</p>
        <cite>Umberto Abate, Experience Design Director at Autodesk</cite>
      </blockquote>
    </div>
    <div class="col-lg-4">
      <blockquote>
        <p>Jacob is an excellent developer and designer and has a great eye for what works brilliantly across all digital products / platforms. His range of skills allows him to get involved from proposition development right through to design, development and delivery.</p>
        <cite>Sharon Hartigan, Head of Digital Product</cite>
      </blockquote>
    </div>
    <div class="col-lg-4">
      <blockquote>
        <p>Whist his portfolio will vouch for his design skills, I want to call out Jacob’s knowledge and appreciation for all the other specialisms involved in creating software. During my time at Just, Jacob was someone who I could rely on to Champion Agility and was instrumental in the set-up of new Scrum teams. If I had to set-up a dream team, Jacob would be on it!</p>
        <cite>Pritesh Patel, Senior Agile Coach & Scrum Master</cite>
      </blockquote>
    </div>
  </div>
  <div class="about-logo-container">
    <div class="about-logo"><img src="img/logo/logo-disney.png" alt=""></div>
    <div class="about-logo"><img src="img/logo/logo-tandem.png" alt=""></div>
    <div class="about-logo"><img src="img/logo/logo-just.png" alt=""></div>
    <div class="about-logo"><img src="img/logo/logo-carphone.png" alt=""></div>
    <!-- <div class="about-logo"><img src="img/logo/logo-apple.png" alt=""></div> -->
    <div class="about-logo"><img src="img/logo/logo-ppixels.png" alt=""></div>
    <div class="about-logo"><img src="img/logo/logo-wolffolins.png" alt=""></div>
    <div class="about-logo"><img src="img/logo/logo-samsung.png" alt=""></div>
    <div class="about-logo"><img src="img/logo/logo-acccenture.png" alt=""></div>
  </div>
</section>
