<nav class="container">

	<a href="/">
		<div class="logo">
			<div class="logo-text">JH</div>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</a>

	<ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link underline blue" href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link underline blue" href="/post">Work</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link underline blue" href="/contact">Contact</a>
	  </li>
	  <!-- <li class="nav-item">
	    <a class="nav-link" href="/products">Products</a>
	  </li> -->
	</ul>

</nav>
