<nav class="container">
	<a href="/">
		<div class="logo">
			<div class="logo-text">JH</div>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</a>
	<ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link underline blue" href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link underline blue" href="/work">Work</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link underline blue" href="/contact">Contact</a>
	  </li>
	</ul>
	<div class="burger"></div>
</nav>
