<nav class="container">
	<div class="row">
		<a href="/">
			<div class="logo">
				<div class="logo-text">JH</div>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</a>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link underline blue" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link underline blue" href="/work">Work</a>
			</li>
			<li class="nav-item">
				<a class="nav-link underline blue" href="/contact">Contact</a>
			</li>
		</ul>
		<div class="burger">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
				<g fill="none" fill-rule="evenodd" stroke="#979797">
					<path d="M13,26.5 L88,26.5"/>
					<path d="M13,50.5 L88,50.5"/>
					<path d="M13,50.5 L88,50.5"/>
					<path d="M13,74.5 L88,74.5"/>
				</g>
			</svg>
		</div>
	</div>
</nav>
