<section class="container container-pad">
  <div class="row" style="position: relative;">
    <div class="col-sm-10 col-md-8 offset-lg-1">
      <h3 class="title-4 text-secondary">{{ .heading }}</h3>
      <p class="title-1">I believe in solving real life problems for real people.</p>
    </div>
    <div class="col-lg-8 offset-lg-2">
      {{ .text | markdownify  }}
    </div>
    <div class="blob blob-right">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</section>
