{{ define "main" }}

<div class="bg-wrapper">
  <div class="bg-gradient"></div>
  <div class="bg-work" style="background-image: url('{{ .Params.image }}');"></div>
</div>

<header class="container container-pad lax" data-lax-opacity="(vh*0) 1, (vh*0.8) 0" data-lax-translate-y="(vh*0) 0, (vh*0.8) 100">
  <div class="row">
    <div class="work-title col-md-10 col-lg-6 offset-lg-1">
        <h1>{{.Title}}</h1>
        <h2>{{ .Description }}</h2>
    </div>
    <div class="work-info col-lg-4 offset-lg-1">
      <h3 class="title-4 text-secondary">Role</h3>
      {{ .Params.roles | markdownify }}
      <h3 class="title-4 text-secondary">Date</h3>
      <p>{{ .Params.workdate }}</p>
    </div>
  </div>
</header>

<section class="container container-pad">
  <div class="work-content row">
      {{ .Content }}
  </div>
</section>

<section class="container container-pad">
  <div class="row">
    <div class='col-md-8'>
      <h3 class="title-4 text-secondary">Credits</h3>
      <p>{{ .Params.credits }}</p>
    </div>
  </div>
</section>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xl-5">
      {{ with .NextInSection }}
      <p class="title-4 text-secondary">Previous project</p>
        <div class="work-card">
					<a href="{{ .Permalink }}">
              {{ if isset .Params "wip" }}<div class="wip">{{.Params.wip}}</div>{{ end }}
              <div class="work-card-image" style="background-image: url('{{.Params.image}}');"></div>
              <h3 class="work-card-text">{{ .Title }}</h3>
          </a>
        </div>
      {{ end }}
    </div>

    <div class="col-md-6 col-xl-5 offset-xl-2">
      {{ with .PrevInSection }}
      <p class="title-4 text-secondary">Next project</p>
        <div class="work-card work-card-previous">
					<a href="{{ .Permalink }}">
              {{ if isset .Params "wip" }}<div class="wip">{{.Params.wip}}</div>{{ end }}
              <div class="work-card-image" style="background-image: url('{{.Params.image}}');"></div>
              <h3 class="work-card-text">{{ .Title }}</h3>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
