{{ define "main" }}

  <div class="bg-wrapper" data-lax-translate-y="(vh*0) 0, (vh*0.8) 200">
    <div class="bg-gradient"></div>
    <div class="bg-post" style="background-image: url('{{ .Params.image }}');"></div>
  </div>

  <div class="post-header container container-pad">
    <div class="row">
      <div class="col-lg-8 offset-lg-1">
          <h1>{{.Title}}</h1>
          <p>{{ .Description }}</p>
      </div>
      <!-- <div class="post-info col-lg-5 offset-lg-1">
        <h3 class="text-secondary">Role</h3>
        {{ .Params.roles | markdownify }}
        <h3 class="text-secondary">Date</h3>
        <p>{{ .Params.workdate }}</p>
      </div> -->
    </div>
  </div>

  <div class="container container-pad">
    <div class="post-content row">
        {{ .Content }}
    </div>
  </div>
{{ end }}
