{{ define "main" }}

{{ with .Params.header }}
<div class="header container container-pad" data-lax-opacity="(vh*0.2) 1, (vh*1) 0" data-lax-translate-y="(vh*0.2) 0, (vh*0.8) -100">
  <div class="row col-lg-10 offset-lg-1">
    <h1>{{ .heading }}</h1>
    <h2 class="title-2">{{ .subheading }}</h2>
  </div>
</div>
{{ end }}

{{/* partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") */}}

{{ partial "blog" . }}

{{/* .Content */}}

<!-- </div> -->

{{ partial "short-text" .Params.about }}

{{ end }}
