{{ define "main" }}

{{ with .Params.header }}
<div class="header container container-pad">
  <div class="row col-lg-10 offset-lg-1">
    <h1>{{ .heading }}</h1>
    <h2>{{ .subheading }}</h2>
  </div>
</div>
{{ end }}

{{/* partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") */}}

{{ partial "short-text" .Params.about }}

<div class="container container-pad">

  {{ partial "blog" . }}

  {{/* .Content */}}

  {{/*  partial "2-up" .Params */}}

</div>
{{ end }}
