{{ define "main" }}

{{ with .Params.header }}
<div class="header container container-pad" data-lax-opacity="0 1, vh 0">
  <div class="row col-lg-10 offset-lg-1">
    <h1>{{ .heading }}</h1>
    <h2>{{ .subheading }}</h2>
  </div>
</div>
{{ end }}

{{/* partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") */}}

<!-- <div class="container container-pad" data-lax-opacity="0 1, vh 0" data-lax-anchor="self"> -->

  {{ partial "blog" . }}

  {{/* .Content */}}

  {{/*  partial "2-up" .Params */}}

<!-- </div> -->

<div data-lax-opacity="0 1, vh 0" data-lax-anchor="self">
{{ partial "short-text" .Params.about }}
</div>

{{ end }}
