fieldset {
    margin-bottom: 24px;
}

input[type=text], input[type=email], textarea, select {
    // max-width: 280px;
    width: 100%;
    padding: 12px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
label {
    display: inline-block;
    margin-bottom: 8px;
}

.btn {
    // width: 280px;
    background: $blue-light;
    border: none;
    padding: 16px 48px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 32px;
    font-family: $display-font-family;
    color: $white;
    position: relative;
    transition: all .3s ease-out;
    &:hover {
        transform: scale(1.05);
    }
    &:before {
		content: '';
		position: absolute;
		border: $blue-light solid 4px;
        border-radius: 40px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
        animation-duration: 1s;
	}
    &:hover:before,
	&:focus:before,
	&:active:before {
        animation-name: ripple;
    }
}

@keyframes ripple {
    100% {
          top: -(6px + 6px);
          right: -(6px + 6px);
          bottom: -(6px + 6px);
          left: -(6px + 6px);
          opacity: 0;
      }
  }