.bg-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.bg-gradient {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(30,87,153,0) 0%, #25283d 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#25283d',GradientType=0 );
  z-index: -1;
}

.bg-post {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  filter: blur(6px);
  z-index: -2;
}

.post-header {
}

.post-info {
  margin-top: 32px;
  // @extend .body-small;
  @include media-breakpoint-up(lg) {
    margin-top: 0px;
  }
  p {
    margin-bottom: 0px;
  }
  h3 {
    margin-bottom: 10px;
  }
  h3:last-of-type {
    margin-top: 24px;
  }
}

.post-content {
  h3 {
    margin-top: 48px;
    @extend .text-secondary;
    @include media-breakpoint-up(lg) {
      @extend .col-lg-8;
      @extend .offset-lg-2;
    }
  }
  p {
    @include media-breakpoint-up(lg) {
      @extend .col-lg-8;
      @extend .offset-lg-2;
    }
  }
  figure {
    margin-top: 40px;
    // margin-bottom: 32px;
    @extend .col-lg-10;
    @extend .offset-lg-1;
    img {
      width: 100%;
    }
  }
  .video-wrapper {
    margin-top: 32px;
    overflow: hidden;
    @extend .col-lg-10;
    @extend .offset-lg-1;
  }
  video {
  	width: 100%;
    height: 100%;
  }
  hr {
    width: 100%;
    height: 1px;
    background: $white-25;
    border: none;
    margin-bottom: 32px;
    margin-top: 32px;
    position: relative;
  }
}

blockquote {
  // margin-left: 0;
  // padding-left: 24px;
  @extend .col-lg-8;
  @extend .offset-lg-2;
  border-left: 4px solid $blue-light;
}
