h1 {
  font-family: $display-font-family;
  font-size: 28px;
  line-height: 38px;
  font-weight: $font-weight-bold;
  margin-bottom: 24px;
  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 48px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 52px;
    line-height: 64px;
  }
}

h2 {
  font-family: $body-font-family;
  font-size: 24px;
  line-height: 40px;
  font-weight: $font-weight-light;
}

h3 {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: $font-weight-light;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.title-1 {
  font-family: $display-font-family;
  font-size: 28px;
  line-height: 38px;
  font-weight: $font-weight-bold;
  margin-bottom: 24px;
  text-transform: none;
  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 48px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 52px;
    line-height: 64px;
  }
}

.title-2 {
  font-family: $body-font-family;
  font-size: 24px;
  line-height: 40px;
  font-weight: $font-weight-light;
  text-transform: none;
}

.title-3 {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding-top: 0;
  @include media-breakpoint-up(md) {
    padding-top: 8px;
  }

}

h3, h4, h4, h6 {
  font-family: $display-font-family;
  // font-size: 18px;
}

p {
  font-size: 20px;
  line-height: 32px;
  font-weight: $font-weight-light;
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }
}

.p-small {
  font-size: 16px;
  line-height: 24px;
}

.text-secondary {
  color: $white-50;
}
