.bg-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.bg-gradient {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(30,87,153,0) 0%, #25283d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#25283d',GradientType=0 );
  z-index: -1;
}

.bg-work {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(6px);
  z-index: -2;
}

.work-title {
  @include media-breakpoint-up(lg) {
    margin-top: 8px;
  }
}

.work-info {
  margin-top: 32px;
  font-size: 18px;
  font-weight: $font-weight-light;
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 0px;
    border-left: 1px solid $white-25;
    padding-left: 64px;
  }
  p {
    margin-bottom: 0px;
  }
  h3 {
    margin-bottom: 16px;
  }
  h3:last-of-type {
    margin-top: 24px;
  }
}

.work-content {
  h3 {
    margin-top: 24px;
  }
  h3, p, h2, h4 {
    @extend .col-md-10;
    @extend .offset-md-1;
    @extend .col-lg-8;
    @extend .offset-lg-2;
    @extend .offset-lg-0;
    margin-top: 16px;
    margin-bottom: 16px;
    @include media-breakpoint-up(md) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  figure {
    margin-top: 24px;
    margin-bottom: 24px;
    @extend .col-lg-10;
    @extend .offset-lg-1;
    img {
      width: 100%;
    }
  }
  .video-wrapper {
    margin-top: 24px;
    margin-bottom: -8px;
    @extend .col-lg-10;
    @extend .offset-lg-1;
  }
  video {
    width: 100%;
    display: block;
  }
  blockquote {
    @extend .col-lg-8;
    @extend .offset-lg-2;
    p {
      @extend .col-lg-12;
      @extend .offset-lg-0;
    }
  }
  ul, ol {
    @extend .col-lg-7;
    @extend .offset-lg-2;
    @extend .body-text;
    padding-left: 64px;
    margin-top: 0;
    li {
      padding: 4px 0;
    }
  }
  blockquote {
    p {
      font-size: 20px;
      padding: 24px 64px 24px 32px !important;
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        padding: 32px 80px 32px 48px !important;
        font-size: 24px;
      }
    }
    cite, h2 {
      padding-top: 8px;
      @extend .body-text;
      @extend .text-secondary;
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        margin-left: 32px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 0px;
      }
    }
    &:before {
      top: -20px;
      left: 32px;
      @include media-breakpoint-up(md) {
        left: 96px;
      }
      @include media-breakpoint-up(lg) {
        left: 32px;
      }
    }
  }
}

.youtube {
  width: 100%;
  height: 280px;
  @include media-breakpoint-up(md) {
    height: 360px; 
  }
  @include media-breakpoint-up(xl) {
    height: 440px; 
  }
}